// Normalización de estilos:

html {
    box-sizing: border-box;
    background-color: #E7ECF0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #333;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

// Fuente:

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

// Estilos de la cabecera:

header {
    background: #E7ECF0;
}

header {
    height: 8rem;
    width: 70%;
    margin: 0 15%;

    .header-container {
        display: flex;
        align-items: center;

        .header-logo {
            width: 20%;
            padding: 1rem;

            img {
                width: 90%;
            }
        }

        nav {
            width: 54%;
            margin-left: 4%;
            margin-right: 2%;

            ul {
                display: flex;
                justify-content: space-between;

                li {

                    a {
                        font-weight: 500;
                        color: #929292;
                    }
                }
            }
        }

        .purchase-buttons {
            display: flex;
            justify-content: space-evenly;
            width: 20%;
            height: 1.8rem;
            position: relative;
            bottom: .4rem;

            .cart-svg {
                background-color: #FF6622;
                border-radius: 36px;
                width: 25%;
                cursor: pointer;

                &:hover {
                    transition: .6s;
                    background-color: #374048;
                }

                svg {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    top: 10%;
                    left: 20%;
                    fill: #fff;
                }
            }

            .buyit {
                background-color: #FF6622;
                border-radius: 36px;
                width: 50%;
                padding: .2rem .8rem;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    transition: .6s;
                    background-color: #131313;
                }

                span {
                    color: #ededed;
                    font-weight: 500;
                    font-size: .9rem;
                    position: relative;
                }
            }
        }
    }
}

// Estilos del main y sus sections:

main {

    .section-one {
        width: 70%;
        margin: auto;

        .section-title {
            text-align: center;
            font-size: 2.2rem;
            color: #374048;

            h1 {
                margin: 0;
            }
        }

        .section-subtitle {
            text-align: center;
            font-size: 1.24rem;
            width: 64%;
            margin: auto;
            font-weight: 200;

            p {
                margin: 0;
                color: #929292;
            }
        }

        .paypal-button {
            background-color: #0084FF;
            color: #fff;
            border-radius: 36px;
            width: 30%;
            height: 3rem;
            padding: .2rem .8rem;
            margin: 2rem auto;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-size: 1.2rem;
                font-weight: 600;
            }
        }

        .section-img {
            display: flex;
            width: 30%;
            margin: auto;
        }
    }

    .section-two {
        width: 70%;
        margin: 4rem auto;

        .section-header {

            .header-title {
                text-align: center;
                font-size: 1.8rem;
                color: #374048;
    
                h1 {
                    margin: 0;
                }
            }
    
            .header-subtitle {
                text-align: center;
                font-size: 1.24rem;
                width: 64%;
                margin: auto;
                font-weight: 200;
    
                p {
                    margin: 0;
                    color: #929292;
                }
            }

            .section-separator {
                width: 100%;
                height: .6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: .4rem;
                
                span {
                    display: block;
                    width: 6rem;
                    height: .6rem;
                    background-color: #bbbbbb;
                    border-radius: 2px;
                }
            }
        }

        .section-features-container {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;

            .feature {
                width: 30%;

                .feature-img {
                    width: 100%;
                    height: 10rem;
                    margin-bottom: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 5.6rem;
                        height: 5.6rem;
                    }
                }

                .feature-title {
                    text-align: center;
                    font-size: 1.2rem;
                    color: #374048;
                    margin-bottom: .5rem;

                    h2 {
                        margin: 0;
                    }
                }

                .feature-subtitle {
                    text-align: center;
                    width: 100%;
                    margin: auto;
                    font-weight: 200;
    
                    p {
                        margin: 0;
                        color: #4d4d4d;
                    }
                }
            }

            .arrow {
                margin-top: 4rem;

                // Seleccionamos el primer span hijo y luego el segundo:
                span:nth-child(1) {
                    // Parte de arriba de la flecha que es un span con un backgroun y una horientación de 45º:
                    background-color: #3c3c3c;
                    width: 1.1rem;
                    height: 1px;
                    display: block;
                    transform: rotate(45deg);
                }

                span:nth-child(2) {
                    // Parte de abajo de la flecha:
                    background-color: #3c3c3c;
                    width: 1.1rem;
                    height: 1px;
                    display: block;
                    transform: rotate(-45deg);
                    margin-top: .7rem;
                }
            }
        }
    }
}